.profile {
  display: flex;
  gap: 16px;
  padding: 16px;
  text-align: left;
  background-color: var(--background-color);
  border-bottom: 1px solid gray;
}

.profile-pic-wrapper {
  width: 100px;
  border-radius: 50%;
}

.functional-buttons {
  display: flex;
  justify-content: right;
  align-items: center;
}

.basic-details {
  margin: 0 12px;
  padding: 12px;
  /* border: 1px solid; */
  border-radius: 8px;
  background-color: var(--secondary-color);
}
.info-wrapper {
  margin: 8px;
  list-style: none;
  text-align: left;
  display: flex;
  justify-content: space-between;
}
